body {
    body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        overflow-y: hidden;
    }

}

/* Section 1  */


.sec1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 733px;
    background-image: url(./images/Untitled\ design\ \(8\).png);
    background-size: 1235px;
    background-position: center;
    background-repeat: no-repeat;

}

.sec1-div1 {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.sec1-div2 {
    height: 270px;
}

.img1 {
    width: auto;
    height: 300px;
}

.sec1-h1-1 {
    left: 234px;
    top: -129px;
    width: 67px;
}

h1 {
    color: rgb(207 166 204);
    font-size: 31px;
    position: relative;
    font-family: sans-serif;
}

.head-a {
    color: rgb(154 176 182);
    font-weight: 800;
    font-size: 20px;
    position: relative;
    font-family: sans-serif;
    padding: 1px 20px 1px 20px;
    margin: 0px 0px 0px 0px;
    text-decoration: none;
}

.head-a:hover {
    background-color: white;
}


/* Section 2 */

.sec2{
    /* background-image: url(./images/Untitled\ design\ \(9\).png);  */
    background-position: center;
    background-repeat: no-repeat;
    background-color: #bf7b54;
}

.sec2-div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./images/Untitled\ design\ \(7\).png);
    background-size: 1362px;
    background-position: left;
    background-repeat: no-repeat;
}

.sec2-h1-1 {
    color: rgb(207 166 204);
    font-size: 42px;
    position: relative;
    font-family: sans-serif;
    height: auto;
    width: 60%;
    margin-top: 100px;
    margin-bottom: 231px;
    font-family: Gilroy ExtraBold, sans-serif;
}

/* Section 3  */


/* .h1p{
    color: rgb(207 166 204);
    font-size: 31px;
    position: relative;
    left: 50px;
    top: 69px;
    font-family: sans-serif;
} */


.parallax {
    /* The image used */
    background-image: url("./images/WB.jpg");
    background-size: 100%;

    /* Set a specific height */
    min-height: 582px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.a{
    text-decoration: none;
}
.logo1 {
    width: auto;
    height: 100px;

}

.logo2 {

    width: auto;
    height: 100px;


}


/* Section 4 */



.project {
    padding-top: 78px;
    padding-bottom: 60px;
}

.h1-pro {
    position: relative;
    left: 1px;
    top: 1px;
    margin-top: 50px;
    font-size: 56px;
    color: rgb(207 166 204);
    text-align: center;
}

.flex-c {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.sq {
    /* border: 10px solid black; */
    background-color: black;
    text-align: center;
    width: 265px;
    height: 265px;
    position: relative;
    left: 1px;
    right: 1px;
    border-radius: 7px;
    transition: border .375s;

}

/* .project-inner-container{
    height: 282px;
    width: 262px;
} */
.overlay {
    position: relative;
    top: -135px;
}

/* .sq:hover{
    border: 20px solid  gray;

    }  */

.project1 {
    width: 265px;
    height: 265px;
    border-radius: 7px;
    padding: 20px 20px 50px;
    transition: padding 0.375s;
}

.project1:hover {
    cursor: pointer;
    padding: 0px;

}

/* Project 5 */



.h1-about {
    position: relative;
    left: 1px;
    top: 130px;
    margin-top: 50px;
    font-size: 56px;
    color: rgb(207 166 204);
    text-align: center;
    margin-bottom: -27px;
}

.about {
    margin-top: -95px;
    margin-bottom: 50px;
}

.about-mar {
    margin-top:240px;
    display: flex;
    justify-content: center;
}

.profile-div {
    background-color: gray;
    border-radius: 7px;
    width: 400px;
    height: 363px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prof-img {
    width: auto;
    height: 223px;
    border-radius: 150px;
    border: 4px solid;
}

.profile-txt {
    margin-top: 10px;
    text-align: center;
}

.profile-content {
    display: flex;
    align-items: center;
}

.about-p {
    margin-left: 76px;
    width: 652px;
    font-size: 22px;
}

/* Skills */
.skill {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    background-color: rgb(154 176 182);
}
.competencies {
    font-family: sans-serif;
    font-size: 20px;
}

.skill-h3 {
    text-align: center;
}

.skill-container{
    text-align: left;
    display: inline-block;
    padding-top: 20px;
}

.skill-inner {
    margin-bottom: 21px;
}

.skill-p {
    margin-top: 0px;
    margin-bottom: 5px;
}
/* Contact Me */
.contact {
    padding-bottom: 150px;
}

.contact-h1 {
    margin-top: 50px;
    font-size: 56px;
    color: rgb(207 166 204);
    text-align: center;
}

.contact-inner {
    margin-top: 64px;
    display: flex;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.lb {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .15em;
}

.input {
    border: 0;
    outline: 0;
    background: #d2d2d2;
    padding: 14px 16px;
    font-family: Poppins, sans-serif;
    border-radius: 3px;
    overflow: hidden;
    box-sizing: border-box;
    color: #252525;
    width: 100%;
    margin-top: 1px;
    margin-bottom: 15px;
}

.submit {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .15em;
    height: 45px;
    background-color: grey;
    border: none;
    /* transition: background .35s ease-in-out,color .35s ease-in-out; */

}

.submit:hover {
    background-color: rgb(21 63 145);
}

/* footer */

.footer-ul {
    list-style-type: none;
    /* Remove bullets */
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 72px;
}

.footer-a {
    font-size: 12px;
    opacity: .5;
    font-weight: 700;
    transition: opacity .3s cubic-bezier(.645, .045, .355, 1);
    text-transform: uppercase;
    letter-spacing: .15em;
    font-family: sans-serif;
    text-decoration: none;
    color: gray;
    margin-right: 45px;
}

.f {
    position: relative;
    top: -7px;
    margin-left: 70px;
    margin-right: 70px;
}


/* Bevri Learn More */
.bevri-body{
    background-color: gainsboro;

}
.sec-Bevri{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.Bevri-Container{}
.Bevri-heading{}
.head{
    color: black;
    font-size: 65px;
    margin: 93px 0px 0px 0px;
}
.fullStop{
    margin: 0px 0px 0px 0px;
    color: #3a6bc4;
}
.Bevri-Content{
    display: inline-block;
    text-align: left;
}
.txt {
    padding: 24px 224px;
    font-size: 20px;
    font-family: sans-serif;
}
.Bevri-img {
    margin-top: 100px;
}
.img {
    width: 1036px;
    height: auto;
    border: 18px solid white;
    border-radius: 10px;
}
.button-container{}
.btn {
    background-color: beige;
    font-size: 20px;
    border: 2px solid #3a6bc4;
    /* border-radius: 7px; */
    width: 154px;
    height: 48px;
    color: #3a6bc4;
    cursor: pointer;
}
.btn:hover{
    background-color: #3a6bc4;
    color: white;
}
a{
    text-decoration: none;
    color: gray;
}




/* Responsive */

@media (max-width:1024px) {
    .profile-div {
        width: 360px;
    }

    .about-p {
        width: 460px;
        font-size: 18px;
    }

    .input {
        width: 100%;
    }

    .submit {
        width: 100%;
    }
}

@media (max-width:1199px) {


    /* 992 screen size: ; */
}

@media (max-width:991px) {

    /* Section 2 */
    .sec2-h1-1 {
        width: 70%;
    }

    /* Section 3 */

    .logo1 {
        height: 80px;
    }

    .logo2 {
        height: 80px;
    }

    /* Section 5 */
    .about-mar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-p{
        margin-top: 40px;
        margin-left: 0px;
    }
    /* 768 screen size: ; */
}


@media (max-width:767px) {
    /* Section 3 */
    .parallax {
        background-size: 200%;
    }

    /* Section 5 */
    .profile-div {
        width: 324px;
    }
    .about-p {
        width: 332px;
    }
    .h1-about {
        font-size: 45px;
    }
    /* Section 6 */

    .contact-h1 {        
    font-size: 45px
    }
    /* 576 screen size: ; */
}

@media (max-width:575px) {

    /* Secttion 2 */
    .sec2-h1-1 {
        width: 90%;
    }

    .head-a {
        font-size: 18px;
        padding: 1px 6px 1px 20px;
    }

    /* Secttion 5 */
    .profile-div {
        width: 277px;
        height: 375px;
    }
    .profile-txt {
        padding: 5px 5px;
    }
    .about-p {
        width: 256px;
    }


    /* 320 screen size */
}

/* 
Enrty ====> screen
1199  ====> 992
991 ====> 768
767 ====> 576
575 ====> 320 */